<center><h1> Welcome, <%= @user.username %></h1></center>

<h3> Here's what you've listened to: </h3>

<ul>
<% @user.podcasts.each do |podcast| %>
 <li><%= podcast.name %> </li>
 <li><%= podcast.author %> </li>   

 <% end %>

<br>
<br>



<%= link_to "Add a Podcast", new_podcast_path %>
<br>
<%= link_to "Podcast Categories", categories_path %>