<h1> Add a Review! </h1>


<%= form_for [@podcast, @review] do |f| %>
        <%= f.label :stars %>
        <%= f.number_field :stars, min:0, max:5 %>
        <%= f.label :description %>
    <%= f.text_field :description %>

    <%= f.submit %>
    

<% end %>