<h1><%= @podcast.name%>  </h1>


<h3><p> <%= @podcast.author%> </p></h3>
<div>
 <h4> <p><%= @podcast.description %></p></h4>
</div>





<br></br>

<%= link_to "See all Reviews", podcast_reviews_path(@podcast) %>
<%= link_to "Leave A Review",  new_podcast_review_path(@podcast) %>

