<!DOCTYPE html>
<html>
  <head>
    <title>Podcastapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div>
  <% if session[:user_id] %>
    <%= link_to "Log Out", logout_path, method: :delete %>

    <%= link_to "Your Profile", user_path(session[:user_id]) %>
    <br>
    <br>
   
  </div>
 <% end %>
  <body>
    <%= yield %>
  </body>
</html>
